<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="hkust.comp3111h.ballcraft"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk android:minSdkVersion="8" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <application
        android:icon="@drawable/icon"
        android:label="@string/app_name" >
        <activity
            android:name=".ui.SplashScreenUs"
            android:label="@string/app_name"
            android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity
            android:name=".ui.SplashScreenBC"
            android:label="@string/app_name"
            android:screenOrientation="landscape">
        </activity>
        
        <activity
            android:name=".ui.MainMenu"
            android:label="@string/app_name"
            android:screenOrientation="landscape">
        </activity>
        
        <activity
            android:name=".ui.MultiPlayerMenu"
            android:label="@string/app_name"
            android:screenOrientation="landscape">
        </activity>
        
        <activity
            android:name=".ui.OptionMenu"
            android:label="@string/app_name"
            android:screenOrientation="landscape">
        </activity>
        
        <activity
            android:name=".ui.BallSelectMenu"
            android:label="@string/app_name"
            android:screenOrientation="landscape">
        </activity>
        
        <activity
            android:name=".client.GameActivity"
            android:label="@string/app_name"
            android:screenOrientation="landscape">
        </activity>
        
        <activity android:name=".Bluetooth"
                  android:label="@string/app_name"
                  android:configChanges="orientation|keyboardHidden" />
        <activity android:name=".DeviceListActivity"
                  android:label="@string/select_device"
                  android:theme="@android:style/Theme.Dialog"
                  android:configChanges="orientation|keyboardHidden" />
        <service android:name=".server.Server"></service>
        <service android:name=".client.Client"></service>
 		<service android:name="hkust.comp3111h.ballcraft.BluetoothService"></service>
    </application>

	<uses-permission android:name="andorid.permission.STORAGE"/>
	
</manifest>